/* Responsivo para mobile */

@media (max-width: 768px) {

    body {
        background-color: #EDE0D6;
        margin: 0;
        padding: 80px 20px;
        overflow-x: hidden;
    }

    /*type*/

    h1 {
        font-family: Ragasta;
        font-size: 32px;
        font-style: normal;
        font-weight: normal;
        -webkit-text-stroke: 1.5px;
        line-height: 120%;
        color: #543021;
    }

    h2 {
        font-family: Ragasta;
        font-size: 28px;
        font-style: normal;
        font-weight: normal;
        -webkit-text-stroke: 1.0px;
        line-height: 120%;
    }

    h3 {
        font-family: Work Sans;
        font-size: 32px;
        font-style: normal;
        font-weight: normal;
        line-height: 120%;
        letter-spacing: -0.32px;
    }

    h4 {
        font-family: Work Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        letter-spacing: -0.16px;
    }

    p {
        font-family: Work Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -0.16px;
    }

    small {
        font-family: Work Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.11px;
    }

    a {
        font-family: Work Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.20px;
    }

    .botoes-contato-fixo {
        position: fixed;
        display: flex;
        flex-direction: column;
        bottom: 20px;
        right: 20px;
        gap: 8px;
        filter: drop-shadow(0px 5px 10px rgba(201, 112, 67, 0.25));
    }
    
    .botao-de-contato-fixo {
        display: flex;
        flex-direction: column;
        padding: 12px 16px;
        align-items: center;
        gap: 4px;
        background-color: #EDE0D6;
        border-radius: 100px;
        border: 1px solid #C97043;
    }
    
    .botao-de-contato-fixo:hover {
    
        transition: .3s ease;
        filter: drop-shadow(0px 5px 10px rgba(201, 112, 67, 0.4));
    }

    
    .ver-mais-btn {
        display: flex;
        justify-content: right;
        gap: 0;
        width: 27px;
        height: 27px;
        flex-shrink: 0;
        color: #543021;
    }

    .ver-mais-btn p {
        display: none;
    }

    .linhas-decorativas-home {
        display: none;
    }

    .linha-solucoes {
        display: none;
    }

    /* Projeto na Home */

    .image-projeto-destaque {
        position: relative;
        overflow: hidden;
        border-radius: 30px;
    }
    
    .rounded-image {
        object-fit: cover;
        border-radius: 30px;
        filter: grayscale(100%);
        width: 100%;
        height: 80vh;
        margin: 0;
    }
    
    .overlay {
        margin: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 80vh;
        border-radius: 30px;
        background-color: rgba(201, 112, 67, 0.5);
        /* Cor do filtro com 50% de opacidade */
    }
    
    .text-overlay {
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-end;
        position: absolute;
        display: flex;
        bottom: 20px;
        left: 20px;
        text-align: left;
        color: #ffffff;
    }
    
    .text-overlay h1 {
        color: #ffffff;
        margin-right: 20px;
    }
    
    .text-overlay p {
        width: auto;
        margin-right: 20px;
    }

    .accordion {

    }

    .accordion-header h3 {
        margin-right: 20px;
    }

    /* Soluções na Home */

    .solucoes-home {
        margin-top: 80px;
        position: relative;
        display: flex;
        flex-direction: column;
        height: 1200px;
    }


    .interacao-fala-larissa {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
    .interacao-fala-larissa p {
        color: #543021;
        /* p-menor */
        font-family: Work Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 27px */
        letter-spacing: -0.18px;
        width: 220px;
    }
    
    .solucoes-img-lari {
        width: 140px;
    }
    
    
    .nav-solucoes {
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 120px;
    
    }
    
    .accordion {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 80px;
    }
    
    .accordion-item {
        border-top: 1px solid var(--terracota, #C97043);
        border-bottom: 1px solid var(--terracota, #C97043);
    
        margin-top: -1px;
    
        padding: 60px 0px;
    }
    
    .accordion-header {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: background-color 0.3s ease;
    }
    
    .accordion-content {
        display: none;
        margin-top: 40px;
        transition: 01s;
    }
    
    .accordion-content p {
        color: #543021;
    }

    /* Abordagem */

.abordagem-home {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;
}

.abordagem-home h2 {
    color: #C97043;
    max-width: 500px;
    margin-top: 120px;
}

.abordagem-home h4 {
    color: #543021;
    margin-top: 16px;
}

.abordagem-home p {
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
    letter-spacing: -0.18px;
    color: #543021;
    margin-top: 12px;
}

.abordagem-home ul {
    margin-top: 80px;
    max-width: 1100px;
    display: flex;
    width: 100%;
    align-items: flex-start;
    align-content: flex-start;
    gap: 80px 80px;
    flex-wrap: wrap;
}

.abordagem-home li {
    width: 100%;
    height: 215px;
    flex-shrink: 0;
}


.interacao-fala-suelen {
    margin-top: 120px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: end;
    justify-content: right;
    gap: 16px;
}

.interacao-fala-suelen p {
    color: var(--marrom, #543021);
    /* p-menor */
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
    letter-spacing: -0.18px;
    width: 220px;
}

/* Chamada Collabs*/

.collab-home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    margin-top: 0px;
    background-image: url(img/menino-olhando-pela-janela.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    border-radius: 30px;
    background-color: #C97043;
}

.collab-home h2 {
    color: #ffffff;
    max-width: 620px;
    text-align: center;
}

.collab-home p {
    color: #ffffff;
    max-width: 620px;
    text-align: center;
}

.collab-home button {
    background-color: rgba(0, 0, 0, 0.0);
    border: 2px solid #ffffff;
    color: #ffffff;
    text-align: center;
    /* p */
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    /* 26px */
    letter-spacing: -0.2px;
}

.collab-home button:hover {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    color: #543021;
}


/* Página Soluções */

.solucoes-intro {
    margin-top: 80px;
    width: 100%;
    margin-bottom: 40px;
    color: #543021;
}

.solucoes-intro h1 {
    margin-top: 24px;
    color: #C97043;
}

.titulo-servico h2 {
    color: #C97043;
}

.solucoes-lista-servicos {
    color: #543021;
    transition: transform 1s;
}

.titulo-servico {
    margin-top: 80px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.solucoes-lista-servicos {
    width: 100%;
}

.accordion-lista-servicos {
    display: flex;
    flex-direction: column;
    width: 100%px;
    margin-top: 80px;
}


/* Página Clientes */

.main-page {
    height: auto;
    margin-bottom: 80px;
}

.clientes-lista-projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
}

.clientes-lista-item-projetos {
    position: relative;
    width: 100%;
    padding: auto;
    border-radius: 30px;
}

.clientes-lista-projetos div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.clientes-lista-projetos a {
    margin-top: 8px;
}

.clientes-rounded-image {
    object-fit: cover;
    border-radius: 30px;
    filter: grayscale(100%);
    width: 100%;
    height: 520px;
    margin: 0;
}

.clientes-overlay {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 520px;
    border-radius: 30px;
    background-color: rgba(201, 112, 67, 0.6);
    /* Cor do filtro com 50% de opacidade */
}

.text-overlay-clientes {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    position: absolute;
    display: flex;
    bottom: 40px;
    left: 20px;
    margin-right: 20px;
    text-align: left;
    color: #ffffff;
}

.text-overlay-clientes h1 {
    color: #ffffff;
}

.text-overlay-clientes p {
    width: 100%;
}

.clientes-lista-item-projetos-2 {
    position: relative;
    width: 100%;
    padding: auto;
    border-radius: 30px;
}

.clientes-lista-projetos div {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.clientes-lista-projetos a {
    margin-top: 8px;
}

.clientes-rounded-image {
    object-fit: cover;
    border-radius: 30px;
    filter: grayscale(100%);
    width: 100%;
    height: 520px;
    margin: 0;
}

.clientes-overlay {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 520px;
    border-radius: 30px;
    background-color: rgba(201, 112, 67, 0.6);
    /* Cor do filtro com 50% de opacidade */
}

.text-overlay-clientes h1 {
    color: #ffffff;
}

.text-overlay-clientes p {
    width: 100%;
}


/* Página Comunidade*/

.sessao-comunidades {
    margin-top: 80px;
    margin-bottom: 80px;
}

tag {
    display: inline-flex;
    padding: 8px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    background: var(--terracota, #C97043);
    color: #fff;

    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.2px;
}

.comunidade-card-evento {
    background-color: #EDE0D6;
    border: 1px solid #C97043;
    padding: 20px;
    border-radius: 30px;
    color: #543021;
}

.comunidade-card-evento h3 {
    font-size: 24px;
    font-weight: 600;
    margin-top: 24px;
}

.comunidade-card-evento p {
    margin-top: 16px;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.2px;
}

.comunidade-card-infos {
    margin-top: 24px;
    display: flex;
    gap: 20px;
}

.comunidade-info {
    width: 200px;
}

.comunidade-info p {
    margin-top: 0px;
}

.comunidade-card-evento button {
    padding: 20px 40px;
    border-radius: 100px;
    cursor: pointer;
    border: 1px solid #C97043;
    background: #C97043;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.2px;
    width: 100%;
    margin-top: 16px;
}

.comunidade-card-evento button {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.gallery-comunidades {
    margin: 80px 0px;
}

.comunidade-acao {
    margin-top: 80px;
    color: #543021;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.comunidade-acao h3 {
    color: #C97043;
}

.comunidade-acao p {
    margin-top: 40px;
}

.comunidade-galeria {
    position: relative;
    max-width: auto;
    height: auto;
    margin: auto;
}

.comunidade-galeria a {
    line-height: 1em;
}

.comunidade-slide {
    display: none;
}

.comunidade-slide img {
    padding: 20px;
    width: 630px;
    height: 630px;
    border-radius: 50px;
    height: auto;
    transition: 2s;
}

.comunidade-anterior,
.comunidade-proximo {
    user-select: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 20px;
    margin-top: -22px;
    color: #543021;
    background-color: #C97043;
    border-radius: 100px;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    transition: opacity 0.5s ease-in-out;
}

.comunidade-proximo {
    right: 0;
}


/* Materiais */

.materiais {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 64px;
}


.materiais-lista-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.materiais-lista-flex h3 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 32px;
}

.materiais-lista-flex p {
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: -0.2px;
}

.materiais-lista {
    position: relative;
}

.materiais-rounded-image {
    object-fit: cover;
    border-radius: 30px;
    filter: grayscale(100%);
    width: 100%;
    height: 340px;
    margin: 0;
}

.materiais-overlay {
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 340px;
    border-radius: 30px;
    opacity: 0.8;
    background: var(--marrom, #543021);
}

.text-overlay-materiais {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    position: absolute;
    top: 20px;
    left: 20px;
    width: calc(100% - 20px);
    text-align: left;
    color: #ffffff;
}

.materiais-descritivo-do-projeto {
    width: 100%;
}

.text-overlay-materiais h3 {
    width: calc(100% - 20px);
    margin-bottom: 24px;
    color: #ffffff;

}

.text-overlay-materiais p {
    color: #ffffff;

}

.descritivo-do-material {
    width: calc(100% - 20px);
}

.logotipo-parceiro-material {
    text-align: right;
    margin-right: 20px;
    width: 56px;
}

/* Página A Somos*/

.sobre-intro {
    margin-top: 80px;
    width: 100%;
    margin-bottom: 120px;
}

.sobre-intro h1 {
    margin-top: 24px;
    color: #C97043;
}

.sobre-imagens {
    position: relative;
    padding-bottom: 1300px;
}

.sobre-01 {
    position: relative;
}

.sobre-01 h2 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 2.5em;
}

.img-sobre-01 {
    position: absolute;
    z-index: -2;
    top: 10px;
    right: 0;
    min-width: 350px;
    width: 50%;
    padding: 12px;
}

.sobre-02 {
    position: relative;
}

.img-sobre-02 {
    position: absolute;
    z-index: -2;
    top: 400px;
    left: 0;
    min-width: 350px;
    width: 50%;
    padding: 12px;
}

.sobre-03 {
    position: relative;
}

.sobre-03 h2 {
    position: absolute;
    top: 360px;
    right: 0;
    font-size: 2.5em;
}

.img-sobre-03 {
    position: absolute;
    z-index: -2;
    top: 800px;
    right: 0;
    min-width: 350px;
    width: 50%;
    padding: 12px;
}

.sobre-04 {
    position: absolute;
    z-index: -2;
    top: 1200px;

}

.sobre-04 h2 {
    font-size: 2.5em;
}


/* Card */

.card-bio {
    background-color: #543021;
    padding: 40px 20px;
    border-radius: 30px;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 220px;
    margin-bottom: 80px;
}

.img-lari-card {
    position: relative;
    width: 180px;
    top: -140px;
    margin-bottom: -120px;
}

.card-bio h1 {
    color: #fff;
}

.card-bio h2 {
    color: #ffffff;
}

.card-infos {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.curriculo div {
    width: 600px;
}

.curriculo img {
    margin-bottom: 24px;
}

.numeros-curriculo {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Página Contato*/

.contato-intro {
    margin-top: 80px;
    width: 100%;
    margin-bottom: 80px;
}

.contato-intro h1 {
    margin-top: 24px;
    color: #C97043;
}

/* Contato */

    

.contato {
    background-color: #C97043;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    border-radius: 30px;
    padding: 64px 16px;
}

.contato-conteudo {
    width: auto;
    display: flex;
    flex-direction: column;
}

.contato-intro h1 {
    color: #C97043;
}

.contato-conteudo h2 {
    margin-bottom: 16px;
    color: white;
}

.contato-conteudo p {
    color: #ffffff;
    margin-bottom: 16px;
}

.botoes-conteudo {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 32px;
}

.botoes-conteudo button {
    color: #ffffff;
    background-color: #C97043;
    border: 2px solid #ffffff;
}

.botoes-conteudo button:hover {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    color: #543021;
}

.contato-formulario {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 16px;
}


input,
textarea {
    border-radius: 30px;
    border: 2px solid #543021;
    background: #ffffff;
    padding: 16px;
    resize: none;
    width: auto;
}

input,
textarea {
    color: #543021;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.18px;
}

.contato-formulario button {
    background-color: #C97043;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 20px 40px;
}

.contato-formulario button:hover {
    background-color: #ffffff;
    border: 2px solid #ffffff;
    color: #543021;
}

.checkbox {
    color: #ffffff;
    display: flex;
    gap: 8px;

    /* small */
    font-family: Work Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.14px;
    padding: 10px 0px;
    cursor: pointer;
    width: auto;
}

.checkbox input {
    width: auto;
    cursor: pointer;
    display: inline-block;
    cursor: pointer;
    padding: 10px 0px;
}

.traco-contato {
    display: none;
    position: absolute;
    top: 0px; 
    left: 0px;
}

.traco-contato-mob {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}













































    .comunidade-galeria {
        position: relative;
        max-width: 800px;
        margin: auto;
    }

    .comunidade-slide {
        display: none;
    }

    .comunidade-slide img {
        width: 100%;
        height: auto;
    }

    .comunidade-anterior,
    .comunidade-proximo {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: black;
        font-weight: bold;
        font-size: 24px;
        transition: 0.6s ease;
    }

    .comunidade-proximo {
        right: 0;
    }

    /* Menu Mobile */

    #menu {
        margin-right: 20px;
        display: block;
        position: absolute;
        width: 80%;
        top: 150px;
        right: 0px;
        background: #C97043;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
        border-radius: 30px;
        padding: 12px;
    }

    #nav.active #menu {
        height: calc(410px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        color: #fff;
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    }

    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }

    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }

    /* Estilos */

    button {
        padding: 20px 40px;
        border-radius: 100px;
        cursor: pointer;
        border: 1px solid #C97043;
        background: #EDE0D6;
        color: #543021;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -0.2px;
    }

    button a {
        display: flex;
        gap: 4px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    button:hover {
        background-color: #C97043;
        color: white;
        transition: 0.3s ease;
    }

    main {
        height: 88vh;
    }

    .intro {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 40px;
        gap: 40px;
    }

    .intro h1 {
        width: 320px;
        color: #543021;
    }

    .team {
        display: inline-flex;
        align-items: center;
        gap: 40px;
    }

    .team img {
        width: 60px;
        height: 60px;
    }

    .team h4,
    small {
        color: #543021;
    }

    .socia {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .bg-line-home {
        z-index: -10000;
        position: absolute;
        right: -30px;
        top: -80px;
        display: none;
    }

    .bg-line-home-mob {
        z-index: -10000;
        position: absolute;
        right: 0;
        top: 0;
        display: block;

    }

    /* Clientes */

    .clientes {
        background-color: #C97043;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 20px;
        padding: 20px;
    }

    .clientes ul {
        display: flex;
        justify-content: center;
        gap: 20px 20px;
        flex-wrap: wrap;

    }

    .clientes img {
        max-width: 120px;
    }

    .clientes h2 {
        max-width: 100%;
        color: #ffffff;
    }

    .clientes p {
        font-family: Work Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.18px;
        color: #ffffff;
    }

    /* Depoimentos */

    .section-02 {
        display: flex;
        flex-direction: column;
        gap: 80;
    }

    .gallery {
        margin-top: 80px;
        margin-bottom: 80px;
        display: grid;
        grid-template-columns: repeat(4, 300px);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 120px;
        overflow: scroll;
        width: 100%;
        scroll-snap-type: both mandatory;
        scroll-behavior: smooth;
        user-select: none;
    }

    .gallery ul {
        
    }

    ul.gallery {
        padding: 0px;
    }

    

    .depoimento-texto {
        font-family: Work Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.18px;
        margin-bottom: 16px;
        margin-top: 16px;
        width: 100%;
        color: #543021;
    }

    .active {
        scroll-snap-type: unset;
    }

    /* This is from w3schools */
    /* 
    https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
    /* Hide scrollbar for Chrome, Safari and Opera */
    .gallery::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .gallery {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .depoimento-nome,
    .depoimento-empresa {
        color: #543021;
    }



    

    footer {
        margin-top: 80px;
        display: flex;
        flex-direction: column-reverse;
        gap: 40px;
    }

    .footer-social-media-icones {
        margin-top: 24px;
        display: flex;
        gap: 16px;
    }

    .floating-buttons {
        display: flex;
        position: fixed;
        bottom: 20px;
        right: 20px;
        gap: 16px;
        display: none;
    }


    .floating-buttons button {
        padding: 12px 16px;
        border-radius: 100px;
        cursor: pointer;
        border: 1px solid #C97043;
        background: #EDE0D6;
        color: #543021;
        font-style: normal;
        font-weight: 400;
        letter-spacing: -0.2px;
    }

    .floating-buttons button a {
        font-size: 16px;
        display: flex;
        gap: 4px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .floating-buttons button:hover {
        background-color: #C97043;
        color: white;
        transition: 0.3s ease;
    }

}